<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firma</title>

</head>
<body>

    <p>
        <STRONG>%%Firstname%%&nbsp;%%Initials%%&nbsp;%%Lastname%%</STRONG>&nbsp;&nbsp;<I>%%Title%%</I><BR/>
        <span style="color: forestgreen;
font-family: Arial, Helvetica, Sans-serif;
font-size: 8px">

            El contenido del presente mensaje es privado, estrictamente confidencial y exclusivo de la Municipalidad de Riachuelo, pudiendo contener información protegida por normas legales y de secreto profesional. Bajo ninguna circunstancia su contenido puede ser transmitido
        o revelado a terceros ni divulgado en forma alguna. En consecuencia de haberlo recibido por error, solicitamos contactar al remitente y eliminarlo de su sistema. </br>Muchas Gracias
        </span>
        </br>
        <a href="http://www.municipioriachuelo.gob.ar">
            <img border="0" src=
                    "https://www.municipioriachuelo.gob.ar/sites/default/files/logo_2.png"
                 width=217 height=89 />
        </a>

    </p>



</body>
<!--<style>
    .parrafo{

        font-family: Arial, Helvetica, Sans-serif;
        color: forestgreen;
        font-size: 14px;
    }
</style>-->
</html>



